

.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.btn-primary{
    background-color: #F5F5F5;
    font-weight: bold;
    color: #006A50;
    padding: 2px 38px;
    border-radius: 5px;
    border-color: #006A50;
    margin: 8px 15px;
}
.banner-title{
    color: #7a7878;
}
.btn-primary2{
    background-color: #006A50;
    font-weight: bold;
    color: #FFFFFF;
    padding: 8px 35px;
    border-radius: 5px;
    margin: 14px 6px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
    background-color: #C6E4D6;
    border-radius: 8px;
}
.banner-content{
    margin: 80px 80px;
}
/* pillar section */
.pillars{
    margin: 50px 200px;
}
.pillar-container{
    display: flex;
    gap: 28px;
    justify-content: space-between;
    
}
.pillar{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

/* vision style */
.vision{
    margin: 50px 200px;
}
.vision-boxs{
    display: flex;
    gap: 28px;
    justify-content: space-between;
    margin-top: 32px;
}
.vision-box1{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    background-color: #bfcfea;
    border-radius: 16px;
}
.btn-primary3{
    background-color:#5490F5;
    font-weight: bold;
    color: #FFFFFF;
    padding: 8px 35px;
    border-radius: 5px;
    margin: 14px 6px;
}
.vision-box2{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    background-color: #C6E4D6;
    border-radius: 16px;
}
.btn-primary4{
    background-color: #006A50;
    font-weight: bold;
    color: #FFFFFF;
    padding: 8px 35px;
    border-radius: 5px;
    margin: 14px 6px;
}
.vision-box3{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    background-color: #F7EBCF;
    border-radius: 16px;
}
.btn-primary5{
    background-color: #FFC239;
    font-weight: bold;
    color: #FFFFFF;
    padding: 8px 35px;
    border-radius: 5px;
    margin: 14px 6px;
}
.vision-p, .description{
    margin-top: 24px;
    color: #7e7c7c;
    font-size: small;
}
/* news style */
.news{
    margin: 50px 200px;
}
.news-boxs{
    display: flex;
    gap: 28px;
    justify-content: space-between;
    margin-top: 32px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
.news-p, .news-description, .news-date, .subscribe-p{
    margin-top: 24px;
    color: #7e7c7c;
    font-size: small;
}
.news-title{
    color: #5a5a5a;
}
.btn-primary6{
    background-color: #006A50;
    font-weight: bold;
    color: #FFFFFF;
    padding: 8px 35px;
    border-radius: 5px;
    margin: 14px 6px;
}


.heading{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
/* donate style */
.donate{
    margin: 50px 200px;
    align-items: center;
    text-align: center;
}
.heading{
    font-weight: bold;
}
.price{
    display: flex;
    gap: 2px;
    justify-content: space-around;
    align-items: center;

   
}
.donate-price{
    margin-top: 32px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 8px 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 40px 24px;
    color: #0E0E0E;
}
.color{
    background-color: #C6E4D6;
}
.btn-primary7{
    background-color: #006A50;
    font-weight: bold;
    color: #FFFFFF;
    padding: 8px 35px;
    border-radius: 5px;
    margin: 14px 6px;
    align-items: center;
}
.price2{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 8px 24px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 40px 24px;
    color: #0E0E0E;
    text-align: center;
}
/* Subscribe */
.subscribe-news{
    margin: 50px 200px;
    align-items: center;
    text-align: center;
    background-color: #C6E4D6;
    position: 100px 80px;
}
.subscribe{
    margin: 100px 200px;
    align-items: center;
    text-align: center;
    
    
}
.btn-primary8{
    background-color: #006A50;
    font-weight: bold;
    color: #FFFFFF;
    padding: 8px 35px;
    border-radius: 5px;
    margin: 14px 6px;
    align-items: center; 
}
.email{
    background-color: #FFFFFF;
    color: #b8b4b4;
    padding: 8px 35px;
    border-radius: 5px;
    margin-right: 0px;
}
.last{
    margin: 50px 200px;
    align-items: center;
    text-align: center;
    position: 100px 80px;

}
.img3{
    display: inline;
}